<!DOCTYPE html>
<html lang="en">
    <body id="page-top" class="body">
        
        <header class="masthead">
            <div class="container h-100" >
                <div class="row h-100">
                    <div class="col-lg-7 my-auto">
                       
                        <div class="header-content mx-auto rounded-pill">
                            <img id="logo" src="/assets/images/logo-bank.png"/>
                            <h1 class="mb-5">We are not living in fear, We are living in FAITH Stay Safe & Stronger together</h1>

                        </div>
                    </div>
                    <div class="col-lg-5 my-auto" >
                        <h1 class="mb-5">Welcome to Al Rajhi <strong>ATM</strong> </h1>
                        <h3 class="mb-5">To start please choose an option </h3>
                        <ul id="bttn">
                            <li><button class="waves-effect waves-light btn-large rounded-pill">INSERT CARD</button>
                        </li>
                        <li></li>
                    <li><li><button class="waves-effect waves-light btn-large rounded-pill" routerLink='/finance'>SIGN IN PARTER LOGIN</button></li>
                </ul>
                    </div>
                    <div class="container">
                       {{myDate| date:'yyyy-MM-dd'}}
                        <a class="grey-text text-lighten-4 right" href="#!"><img id="end" src="/assets/images/lgsmall.jpg"/></a>
                        </div>
                </div>
                
            </div>
        </header>
    </body>
</html>

