
<!DOCTYPE html>
<html lang="en">
    <body id="page-top" class="body"> 
      <header class="masthead" [ngStyle]="{'border': '35px solid black'}">
        
    <main class="d-flex align-items-center min-vh-100 py-3 ">
      <div class="navbar" id="nav">
        <nav class="transparent z-depth-0">
          <div class="nav-wrapper">
            <div class="row">
              <div class="col s12">
                <a href="#" class="brand-logo" target="_blank"><img id="logo" src="/assets/images/logo-bank.png"/></a>
                
              </div>
              
            </div>
            
          </div>  <div class="col-md-12 text-center ">
            <div class="panel panel-default">
                <div> <img src="/assets/images/profilee.png" alt="" > </div>
                <h3>Games Walmark</h3>
                <h2>Are you sure you would like to sign out ?</h2>

             <div class=row>
                 <div class="col md-6">
                     <button class="waves-effect waves-light btn-large" (click)="this.logout()"><i class="material-icons right">chevron_right</i>YES</button>
                 </div>
                 <div class="col md-6">
                    <button id="cancel" class="waves-effect waves-light btn-large" (click)="this.backtouser()"><i class="material-icons right">close</i>CANCEL</button>
                </div>
             </div>
               </div></div>
        </nav>
      
      </div>
            </main></header></body>
