
<!DOCTYPE html>
<html lang="en">
    <body id="page-top" class="body">      
      <header class="masthead" [ngStyle]="{'border': '35px solid black'}">
        
    <main class="d-flex align-items-center min-vh-100 py-3 ">
      <div class="navbar" id="nav">
        <nav class="transparent z-depth-0">
           <div class="col-md-12 text-center ">
            <div class="panel panel-default">
                <div> <img id="logo" src="/assets/images/logo-bank.png"/></div>
              
                <h1>Thank you for using<br/> Rajhi ATM</h1>
                <h3>Please collect your money.</h3>
               <img id="with" src="/assets/images/withdrawel.png"/> 
               <h3>Do you want another bank transaction ?</h3>
               <div class="container">
             <div class=row>
                 <div class="col md-6">
                     <button class="waves-effect waves-light btn-large" routerLink='/user'><i class="material-icons right">chevron_right</i>YES, Back to Main Menu</button>
                 </div>
                 <div class="col md-6">
                    <button id="cancel" class="waves-effect waves-light btn-large" routerLink='/logout'><i class="material-icons right">close</i>Logout</button>
                </div>
             </div></div>
               </div></div>
        </nav>
      
      </div>
      <div class="container">
          
       </div>
            </main></header></body>
